<!DOCTYPE html>
<html>
<head>
	<title>Live covid-19 Update</title>
<style>
	body{
    background:#0101;
    text-align:center;
}
.countries{
    background:beige;
    margin:0;
    height:100%;
		width:100%;
}
.country{
    background:bisque;
    max-width:30.33%;
    padding:20px;
    text-align:center;
    margin:20px;
   ;
    font-family:inherit;
}
img{
    width:250px;
    border:solid 1px
    }
    .total pos{

    }
</style>
</head>
<body>
	<h2>Covid-19 </h2>
<div class="countries">

	{%for i in range(l)%}
	<div class="country">

	<img src="{{flags[i]}}" alt="{{data[i][1]}}" >
  <h3>{{data[i][1]}}<br></h3>
<span class="total pos"> Total cases:{{data[i][2]}} </span> <span class="daily pos">New cases:{{data[i][3]}}</span><br>
<span class="total died"> Total Deceased :{{data[i][4]}} </span><span class="died">  New deaths:{{data[i][5]}} </span> <br>
<span class="rec"> total recovered:{{data[i][6]}} </span> <br>
<span class="active">Active cases:{{data[i][7]}}</span> <span class="critical">Serious,critical:{{data[i][8]}}</span><br>
	</div>
	{%endfor%}

	</div>


</body>
</html>
